#python-dotenv=1.0.1
streamlit
langchain-core==0.1.0
scikit-learn==1.2.0  # For lightweight alternative
sentence-transformers
transformers
torch
langchain
markdown
langchain-community
chromadb
ollama
unstructured
tiktoken
numpy
pandas
